<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flask app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    
        {% include 'includes/navbar.htm'%}
        <div class="container">
            {% include 'includes/_messages.htm'%}
            {% block body%}
        {% endblock %}
        </div>
         
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  
    <script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    <script text="text/javascript">
        CKEDITOR.replace('editor')
    </script> 
</body>
</html>